<!DOCTYPE html>
<html>

<head>
	<title>SiwFood - Aggiornamento dettagli chef </title>
	<link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
	<!--	<div><a href="/"><img src="/images/logo-siw.png" width="50%" /></a></div>-->
	<h1>Aggiorna dati chef</h1>
	<div th:if="${chef}">
		<div>Nome completo: <i th:text="${chef.name}+' '+${chef.surname}">Nome Cognome</i></div>
		<div>Data di nascita: <i th:text="${chef.birth}">(Data di nascita)</i></div>
		<div><span><img width="15%" th:src=${chef.photo} /></span></div>
	</div>
	<div>
		<span>Ricette scritte:</span>
		<ul>
			<li th:each="recipe: ${chef.writedRecipes}">
				<a th:href="@{'/recipe' + '/' + ${recipe.id}}" th:text="${recipe.title}">Titolo</a>
			</li>
		</ul>
		<div>
			<a th:href="@{'/updateRecipes/' + ${chef.id}}">
				<button type="button">Modifica</button>
			</a>
		</div>
	</div>
	<div th:unless="${chef}">Chef non presente in archivio</div>
</body>

</html>