<!DOCTYPE html>
<html>

<head>
	<title> SiwFood - Lista Ricette</title>
	<link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
	<!--	<div><a href="/"><img src="/images/logo-siw.png" width="50%" /></a></div>-->
	<h1>Ricette in archivio:</h1>
	<div th:if="${recipes==null || recipes.isEmpty()}">Non ci sono ricette in archivio</div>
	<ul>
		<li th:each="recipe: ${recipes}">
			<a th:href="@{'/recipe' + '/' + ${recipe.id}}" th:text="${recipe.title}">Titolo</a>
		</li>
	</ul>
</body>

</html>