<!DOCTYPE html>
<html>

<head>
	<title>SiwFood - Cerca chef per data di nascita</title>
	<link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
	<!--	<div><a href="/"><img src="/images/logo-siw.png" width="50%" /></a></div>-->
	<h1>Cerca chef in base alla data di nascita</h1>
	<form th:action="@{/searchChefsByBirth}" method="POST">
		<div>Data di nascita:
			<span><input type="date" th:value="${birth}" name="birth" /></span>
		</div>
		<div><input type="submit" value="Cerca" /></div>
	</form>
</body>

</html>