<!DOCTYPE html>
<html>

<head>
	<title>SiwFood - Cerca ingredienti per paese di origine</title>
	<link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
	<!--	<div><a href="/"><img src="/images/logo-siw.png" width="50%" /></a></div>-->
	<h1>Cerca ingredienti in base al paese di provenienza</h1>
	<form th:action="@{/searchIngredientsByOrigin}" method="POST">
		<div>Paese:
			<span><input type="text" th:value="${origin}" name="origin" /></span>
		</div>
		<div><input type="submit" value="Cerca" /></div>
	</form>
</body>

</html>