<!DOCTYPE html>
<html>

<head>
	<title>SiwFood - Scelta degli ingredienti</title>
	<link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
	<!--	<div><a href="/"><img src="/images/logo-siw.png" width="50%" /></a></div>-->
	<h1 th:text="'Ricetta: ' + ${recipe.title}">...</h1>
	<h2>Ingredienti presenti nella ricetta:</h2>
	<div th:if="${recipe.recipeIngredients.isEmpty()}">Non sono stati ancora inseriti ingredienti</div>
	<div>
		<ul>
			<li th:each="recipeIngredient: ${recipe.recipeIngredients}">
				<span th:text="${recipeIngredient.ingredient.name}+', '+${recipeIngredient.quantity}">Nome,
					Quantità</span>
				<a th:href="@{'/removeIngredientFromRecipe/' + ${recipeIngredient.ingredient.id} + '/' + ${recipe.id}}">Rimuovi
					ingrediente</a>
			</li>
		</ul>
	</div>
	<div>
		<h2>Ingredienti disponibili per l'aggiunta:</h2>
		<ul>
			<li th:each="ingredient: ${ingredientsToAdd}">
				<span th:text="${ingredient.name}">Nome</span>
				<form th:action="@{'/addIngredientToRecipe/' + ${ingredient.id} + '/' + ${recipe.id}}" method="POST">
<!--					<input type="hidden" name="quantityId" th:value="'quantity__' + ${ingredient.id} + '__'">-->
					<input type="text" name="quantity" placeholder="Quantità">
					<button type="submit">Aggiungi</button>
				</form>
			</li>
		</ul>
	</div>
	<div>
		<a th:href="@{'/formUpdateRecipe/'+ ${recipe.id}}"><button type="button">Fine</button></a>
	</div>
</body>

</html>