<!DOCTYPE html>
<html>

<head>
	<title>SiwFood - Lista ricette modificabili</title>
	<link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
	<!--	<div><a href="/"><img src="/images/logo-siw.png" width="50%" /></a></div>-->
	<h1>Lista delle ricette:</h1>
	<div th:if="${recipes==null || recipes.isEmpty()}">Non ci sono ricette nel sistema</div>
	<ul>
		<li th:each="recipe: ${recipes}">
			<i th:text="${recipe.title}">Titolo</i>
			<a th:href="@{'/formUpdateRecipe' + '/' + ${recipe.id}}">(aggiorna)</a>
		</li>
	</ul>
</body>

</html>