<!DOCTYPE html>
<html>

<head>
	<title>SiwFood - Lista chef modificabili</title>
	<link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
	<!--	<div><a href="/"><img src="/images/logo-siw.png" width="50%" /></a></div>-->
	<h1>Lista degli chef:</h1>
	<div th:if="${chefs==null || chefs.isEmpty()}">Non ci sono chef nel sistema</div>
	<ul>
		<li th:each="chef : ${chefs}">
			<i th:text="${chef.name} + ' ' + ${chef.surname}">Nome, Cognome</i>
			<a th:href="@{'/formUpdateChef' + '/' + ${chef.id}}">(aggiorna)</a>
		</li>
	</ul>
</body>

</html>