<!DOCTYPE html>
<html>

<head>
	<title>SiwFood - Ricette aggiunte e disponibili</title>
	<link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
<!--	<div><a href="/"><img src="/images/logo-siw.png" width="50%" /></a></div>-->
	<h1 th:text="'Ricette per lo chef ' + ${chef.name}+' '+${chef.surname}">...</h1>
	<div th:if="${chef.writedRecipes.isEmpty()}">Non sono state scritte ricette da questo cuoco</div>
	<ul>
		<li th:each="recipe : ${chef.writedRecipes}">
			<span th:text="${recipe.title}">Titolo ricetta</span>
			<a th:href="@{'/removeRecipeFromChef/'+ ${recipe.id}+'/'+${chef.id}}">Rimuovi</a>
		</li>
	</ul>
	<div>
		Ricette disponibili per l'aggiunta:
		<ul>
			<li th:each="recipe : ${recipesToAdd}">
				<span th:text="${recipe.title}">Titolo ricetta</span>
				<a th:href="@{'/addRecipeToChef/'+ ${recipe.id}+'/'+${chef.id}}">Aggiungi</a>
			</li>
		</ul>
		<div>
			<div>
				<a th:href="@{'/formUpdateChef/'+ ${chef.id}}"><button type="button">Fine</button></a>
			</div>
</body>

</html>