<!DOCTYPE html>
<html>

<head>
	<title>SiwTheatre - Gestione dei Clients</title>
	<link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
	<header>
		<div th:if="${#request.userPrincipal}">
			<span th:text="${#request.userPrincipal.principal.username}"></span>
			<a href="/public/logout">Logout</a>
		</div>
		<div th:unless="${#request.userPrincipal}">
			<a href="/public/login">Login</a>
		</div>
	</header>

	<div><a href="/"><img src="/images/logo-siwtheatre.png" width="50%" /></a></div>

	<h1>Gestisci i profili registrati</h1>

	<h3>in archivio:</h3>
	<div th:if="${clients==null || clients.isEmpty()}">vuoto</div>
	<div>
		<ul>
			<li th:each="client : ${clients}">
				<a th:href="@{'/client/profile/' + ${client.id}}"
					th:text="${client.name} + ' ' + ${client.surname}">Anagrafica utente</a>
				<form th:action="@{'/admin/deleteProfile/' + ${client.id}}" method="POST">
					<button type="submit">Elimina</button>
				</form>
			</li>
		</ul>
	</div>
</body>

</html>