<section class="text-gray-400 body-font">
  <div class="lg:w-5/6 mx-auto">
    <div class="rounded-lg h-64 overflow-hidden">
      <img alt="content" class="object-cover object-center" src="../../../assets/images/sipario.jpg">
    </div>
    <div class="border-gray-800 mt-4 text-center sm:text-left">
      <p class="leading-relaxed text-lg mb-4">Il nostro sito è il punto di riferimento per gli amanti del teatro. Qui puoi esplorare il calendario completo degli spettacoli in programmazione, scoprire dettagli su opere e attori. Gli utenti registrati possono gestire comodamente i biglietti, prenotando lo spettacolo dei sogni con un semplice click. Cosa aspetti? registrati anche tu per avere un’esperienza personalizzata nel mondo del teatro.</p>
      <div class="py-1 px-2 flex flex-col items-center"> 
        <a class="shadow bg-red-900 hover:bg-amber-950 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded inline-flex items-center"  href="register" role="button">Registrati
        </a>
      </div> 
    </div>
  </div>
</section>

 
