<!DOCTYPE html>
<html>

<head>
	<title>SiwFood - Lista chef autori</title>
	<link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
	<!--	<div><a href="/"><img src="/images/logo-siw.png" width="50%" /></a></div>-->
	<h1 th:text="'Ricetta: ' + ${recipe.title}"></h1>
	<div th:if="${chefs==null || chefs.isEmpty()}">Non ci sono chef registrati sul sistema</div>
	<ul>
		<i>Seleziona l'autore:</i>
		<li th:each="chef : ${chefs}">
			<a th:href="@{'/recipe/setAuthorToRecipe/' + ${chef.id} + '/' + ${recipe.id}}"
				th:text="${chef.name} + ' ' + ${chef.surname} + ' (' + ${chef.birth} + ')'">Nome Cognome
				(nascita)</a>
		</li>
	</ul>
</body>

</html>