<!DOCTYPE html>
<html>

<head>
	<title>SiwFood - Inserimento nuovo ingrediente</title>
	<link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
	<!--	<div>-->
	<!--		<a href="/"><img src="/images/logo-siw.png" width="50%" /></a>-->
	<!--	</div>-->
	<h1>Inserimento di un nuovo ingrediente</h1>
	<form th:action="@{/ingredient}" method="POST" th:object="${ingredient}">
		<div th:if="${#fields.hasGlobalErrors()}">
			<p th:each="err: ${#fields.hasGlobalErrors()}">Ingrediente già presente nel sistema</p>
		</div>
		<div>Nome:
			<span><input type="text" th:field="${ingredient.name}" /></span>
			<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Nome non valido</span>
		</div>
		<div>Paese di origine:
			<span><input type="text" th:field="${ingredient.origin}" /></span>
			<span th:if="${#fields.hasErrors('origin')}" th:errors="*{origin}">Paese di origine non valido</span>
		</div>
		<div>Immagine:
			<span><input type="text" th:field="${ingredient.image}" /></span>
		</div>
		<div>
			<span><button type="submit">CONFERMA</button></span>
		</div>
	</form>
</body>

</html>