<!DOCTYPE html>
<html>

<head>
	<title>SiwFood - Risultati ricerca chef</title>
	<link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
	<div>
		<!--		<a href="/"><img src="/images/logo-siw.png" width="50%" /></a>-->
	</div>
	<div th:if="${chefs.isEmpty()}">La ricerca non ha prodotto risultati</div>
	<ul th:if="${!chefs.isEmpty()}">
		<li th:each="chef : ${chefs}">
			<a href="chef.html" th:href="@{'/chef' + '/' + ${chef.id}}"
				th:text="${chef.name} + ' ' + ${chef.surname}">Nome Cognome</a>
		</li>
	</ul>
</body>

</html>