<!DOCTYPE html>
<html>

<head>
	<title> SiwFood - Homepage </title>
	<link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
	<!--	<div><img src="/images/logo-siw.png" width="50%" /></div>-->

	<h1>Consulta l'archivio</h1>
	<div>
		<a href="/recipe/recipes">Visualizza tutte le ricette</a>
	</div>
	<div>
		<a href="/chef/chefs">Visualizza tutti gli chef</a>
	</div>
	<div>
		<a href="/ingredient/ingredients">Visualizza tutti gli ingredienti</a>
	</div>
	<div>
		<a href="/recipe/searchRecipes">Ricerca ricette</a>
	</div>
	<div>
		<a href="/chef/searchChefs">Ricerca chef</a>
	</div>
	<div>
		<a href="/ingredient/searchIngredients">Ricerca ingredienti</a>
	</div>

	<h1>Modifica l'archivio</h1>
	<div>
		<a href="/chef/formNewChef">Inserimento nuovo chef</a>
	</div>
	<div>
		<a href="/ingredient/formNewIngredient">Inserimento nuovo ingrediente</a>
	</div>
	<div>
		<a href="/recipe/formNewRecipe">Inserimento nuova ricetta</a>
	</div>

	<h1>Modifica gli oggetti</h1>
	<div>
		<a href="/chef/manageChefs">Modifica gli chef</a>
	</div>
	<div>
		<a href="/recipe/manageRecipes">Modifica le ricette</a>
	</div>
	
	<h2>Login</h2>
	<a href="/users/login">Effettua il login</a>
	
	<h2>Registrazione</h2>
	<a href="/users/register">Crea un nuovo account</a>
</body>

</html>